@{
	ViewBag.Title = "Home Page";
}
<div>
	<h2> Google + Login / Sign in </h2> <br /> <button class="btn btn-danger" style="color:red" id="googleplus"> Google + API </button> <br />
</div>

<div>
	<h2> Facebook Login </h2> <br /> <button class="btn btn-danger" style="color:blue" onclick="fblogin()"> Login </button> <br />
</div>

@section Scripts {
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
	<script src="https://apis.google.com/js/api:client.js"> </script>
	<script>
		var googleUser = {};
		var startAppA = function () {
			gapi.load('auth2', function () {
				//Retrieve the singleton for the GoogleAuth library and set up the client.
				auth2 = gapi.auth2.init({
					client_id: '1003277730399-btl51as8as0essoqelt9sihs9fc18801.apps.googleusercontent.com',
					secret_key: 'ztkmEHs3BV50QjblRNexnfsK',
					cookiepolicy: 'http://localhost:2221/',
				});
				attachSignin(document.getElementById('googleplus'));
			});
		};

		function fblogin() {
			@*$.ajax({
				type: "GET",
				url: '@Url.Action("FacebookLogin", "Home")',
				//data: objData,
				datatype: "json",
				success: function (data) {
					alert("Successfully Done");
				}
			});*@

			$.ajax({
				// edit to add steve's suggestion.
				url: "/Home/FacebookLogin",
				//url: '<%= Url.Action("FacebookLogin", "Home") %>',
				success: function (data) {
					// your data could be a View or Json or what ever you returned in your action method
					// parse your data here
					alert(data.url);
					window.location = data.url;
				}
			});
		}
		function attachSignin(element) {
			auth2.attachClickHandler(element, {}, function (googleUser) {
				$(".se-pre-con").show();
				console.log(googleUser);
				var profiles = googleUser.getBasicProfile();
				var ReturnUrl = 'http://localhost:2221/home/about';
				//Crate A Bunch Of Object for Search
				var objData = {
					Email: profiles.getEmail(),
					LastName: profiles.getFamilyName(),
					FirstName: profiles.getGivenName(),
					GoogleID: profiles.getId(),
					ProfileURL: profiles.getName(),
				};

				$.ajax({
					type: "POST",
					url: '@Url.Action("about", "Home")',
					data: objData,
					datatype: "json",
					success: function (data) {
						alert("Successfully Done");
					}
				});
				$(".se-pre-con").hide();
			}, function (error) {
				//alert(JSON.stringify(error,#ff0000, 2));
				alert("error");
			});
		} </script>
	<script> startAppA(); </script>
}  